@model IEnumerable<Resturaunt_web.Models.Menu>

    @{
    ViewData["Title"] = "Homepage";
    Layout = "/Views/Shared/_HomepageLayout.cshtml";
    }



<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page"<a asp-action="Menu">Whole Menu</a></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page"<a asp-action="Starters1">Starters</a></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page"<a asp-action="Mains1">Mains</a></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page"<a asp-action="Deserts1">Deserts</a></</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page"<a asp-action="Drinks1">Drinks</a></</a>
  </li>
  
</ul>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/image/@item.Image" asp-append-version = "true" width= "100" height= "100"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
}
    </tbody>
</table>

