@model Resturaunt_web.Models.Registered_Customers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<link rel="stylesheet" href="~/css/admin.css" />*@

<div class="return">
    <a class="nav-link text-dark" asp-area="" asp-controller="Registered_Customers" asp-action="Index">Return</a>
</div>

<h1>Delete User</h1>


<div class="row">
    <div class="col-md-4 container">

        <dl>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerEmail)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerPhone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerPassword)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerPassword)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="CustomerID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>