@model IEnumerable<Resturaunt_web.Models.Menu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}
<link rel="stylesheet" href="~/css/admin.css" />

<div class="return">
    <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="AdminHomepage">Return</a>
</div>

<h1>Menu Management</h1>

<div class="container p-4 mb-4"
<table class="table">
    <table style="width:100%">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MenuId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MenuId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MenuId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
