@model IEnumerable<Resturaunt_web.Models.Reservations>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_HeaderLayout.cshtml";
}
<link rel="stylesheet" href="~/css/admin.css" />

<div class="return">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminHomepage">Return</a>
</div>

 <div class="PageHeader">
        <h1>
            Reservation Management
        </h1>
    </div>
<div class="container  p-4 mb-4">
    <div class="table">
            <div class="form-group">
                <input type="text" name="search" id="search" aria-describedby="HelpId" placeholder="search" width="100" float="right" />

            </div>
            <div style="border-top:solid">
                <table style="width:100%">
                    <p>
                        <a asp-action="Create">Create New</a>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NumPeople)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Time)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cost)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OrderId)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                    @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumPeople)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Time)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cost)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderId)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                    }
                        </tbody>
                    </table>
        </div> 
    </div> 
</div>  